<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="taglib prefix">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск заданий</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="container mb-5">
        <form th:action="@{/findTaskPage}" method="POST">
            <div><label> Введите группу : <input type="number" name="id_gr1"/> </label></div>
            <div><label> Введите предмет : <input type="number" name="id_su1"/> </label></div>
            <div><input type="submit" value="findTaskPage"/></div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-12 mb-2  text-left">
            <button onclick="Cancel()" class="btn btn-outline-primary">Назад</button>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function Cancel() {
        // Here, you would typically implement the logout functionality, e.g., redirecting to a logout page or clearing session data.
        // For demonstration purposes, this would redirect to a hypothetical login page:
        window.location.href = "/admin";
    }
</script>

</body>
</html>